<app-navbar></app-navbar>
<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>

<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">File Encrypter</h1>
      <p class="fs-5 text-muted">Encrypt your files or decrypt files encrypted here.</p>
    </div>
  </header>

  <main>
    <div class="flex-row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Encrypt files</h4>
          </div>
          <div class="card-body">
            <p>Encrypt one or multiple files (multiple files not supported yet)</p>
            <button routerLink="/encrypt" type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Decrypt data</h4>
          </div>
          <div class="card-body">
            <p>
              You will need both the parent.file and the map.map files to decrypt your content
            </p>
            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
